* {
  box-sizing: border-box;
}

html {
  font: 20px "Arial", san-serif;
}

body {
  margin: 0;
  color: #444;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: beige;
  gap: 2rem;
  position: relative;
  min-height: 100%;
}

header,
nav {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

nav {
  & {
    background-color: antiquewhite;
    flex-direction: row;
    padding: 0.5rem 1.33rem;
  }

  .brand-icon {
    font-size: 1.5rem;
    margin: 0;
  }
}

.container {
  width: 80vw;
  height: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 1.5rem;
}

#instructions {
  text-align: center;
  flex: 1;
  height: 100%;
  justify-self: center;
  order: 1;
}

#instructions button,
#draw-button {
  padding: 0.66rem 2rem;
  background-color: orange;
  border: 0;
  border-radius: 4px;
  font-size: 1rem;
}

#gameboard {
  width: 100%;
  padding: 2rem;
  display: flex;
  min-height: 40vh;
  background-color: antiquewhite;
  gap: 1rem;
  flex-wrap: wrap;
  display: none;
}

#gameboard {
  & > div {
    background-color: lightblue;
    flex: 1;
    min-width: max-content;
    min-height: 40vh;
  }

  .button-container {
    min-width: 100%;
    min-height: auto;
    display: flex;
    padding: 1.6rem;
    justify-content: center;
    background-color: initial;
    border: 0;
  }
}

#game-message {
  font-size: 1.5rem;
}

#player-cards,
#computer-cards {
  display: flex;
  padding: 1rem;
  gap: 1rem;
}

#player-stats,
#computer-stats {
  width: max-content;
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  justify-content: space-around;
  background-color: #90cbdeeb;
}

#computer-cards-wrap,
#player-cards-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;

  & .card-wrap {
    position: relative;
    padding: clamp(10vh, 5vh, 200px);
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.card {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  width: auto;
  padding: 0.25rem;
  min-width: 150px;
  max-width: 360px;
  aspect-ratio: 1/1.4;
  background-color: white;
  border-radius: 0.4rem;
  box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.25);
}

.face-down {
  background-color: grey;
}
